* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bodybg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.base_active {
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    animation: is_active 0.5s ease-out 0s 1 alternate both;
}

.non_active {
    animation: non_active 0.5s ease-out 0s 1 alternate both;
}

@keyframes non_active {
	0% {
		opacity: 1;
		transform: scale(1);
        visibility: visible;
	}

	100% {
		opacity: 0;
		transform: scale(0.75);
        visibility: hidden;
	}
}

@keyframes is_active {
	0% {
        visibility: hidden;
		opacity: 0;
		transform: scale(0.75);
	}

	100% {
		opacity: 1;
		transform: scale(1);
        visibility: visible;
	}
}

.container-fluid {
    padding: 150px;
/* From https://css.glass */
background: rgba(0, 0, 0, 0.658);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.5px);
-webkit-backdrop-filter: blur(2.5px);
min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

.img1 {
    width: 100%;
    height: 70vh;
}

.img2 {
    width: 100%;
    height: 70vh;
}

.gameimg {
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gameimg2 {
    width: 60%;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    width: 100%;
    max-width: 600px;
    font-size: 25px;
    text-align: center;
}

.hero {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: #00000098;
    filter: luminance(1);
    position: fixed;
    z-index: 5000;
}

.close {
    background: url(/images/cancel.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
}

.gameimg {
    cursor: pointer;
    transition: 0.5s ease;
    transform: translateX(0px) scale(1)
}

.gameimg:hover {
    opacity: 0.6;
    transform: translateX(2px) scale(1.01);
}

.description {
    font-size: 12px;
}

#next {
position: fixed;
top: auto;
bottom: auto;
right: 0;
}

#prev {
    position: fixed;
    top: auto;
    bottom: auto;
    left: 0;
    }

.fbtn-l {
    position: fixed;
    top: 25px;
    bottom: auto;
    left: auto;
}

.fbtn-r {
    position: fixed;
    top: 50px;
    bottom: auto;
    left: auto;
}


//Beginning of site

.full-page {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: black;
}